# Generated System Data in Yaml Format

system:
 - Hostname: {{ csvfile.split(',') }}
vlan:
{% for item in csvfile.split("\n") %}
{% if loop.index !=1 %}
{% set list = item.split(",") %}
 - {{ list[3]|trim() }}
   name: {{ list[4]|trim() }}
   desc: {{ list[5]|trim() }}
   ip: {{ list[6]|trim() }}
   mask: {{ list[7]|trim() }}
   wild: {{ list[8]|trim() }}
   passive: {{ list[9]|trim() }}
   ptp: {{ list[10]|trim() }}
{% endif %}
{% endfor %}
